@font-face {
  font-family: 'Quicksand';
  font-weight: 700;
  src: url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-weight: 600;
  src: url('../fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-weight: 500;
  src: url('../fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  src: url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-weight: 300;
  src: url('../fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
}
